{%extends "super_quotes/base.html"%}

{% block content %}
<h3>Add quote</h3>

{%if form.errors %}
<span class="alert alert-danger" role="alert">{{form.non_field_errors}}</span>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="row mb-3 col-md-6">
        <label>Quote</label>
        {{form.quote}}
    </div>
    <div class="row mb-3 col-md-6">
        <label class="form-label">Choose tags (one or more)</label>
        {{form.tags}}
    </div>
    <div class="row mb-3 col-md-6">
        <label>Author</label>
        {{form.author}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}